
body{
    font-family:'Calibri','Montserrat', sans-serif;
}

h1{
    color: white;
}

h2,h1{
    text-align: center;
}


/*manages "civilité", "prénom", "nom"*/
.part_1{
    display: flex;
    justify-content: center;
    gap: 15px;
}

/*manages "email", "Sélectionnez un site"*/
#email{
width: 200px;
}

.part_2{
    display: flex;
    justify-content: center;
    gap: 20px; ;
    margin-top: 30px;
}

/*manages "Votre message", button "Envoyer", checkbox*/
.part_3{
    display: flex;
    align-items: center;
    flex-direction: column;
   margin-top: 40px;
}

button{
    width: 200px;
    height: 25px;
    background-color: rgb(161, 208, 249);
}

footer, header{
    background-color: rgb(21, 24, 90);
    height: 80px;
}

footer{
    margin-top: 10px;

}

a{
    color:white;
    font-size: large;
}

.footer_style{
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 900px) {
    body {
        font-size: medium; 
        padding: 10px; 
    }

    h1, h2 {
        font-size: medium; 
    }

    .part_1, .part_2 {
        flex-direction: column; /
        gap: 5px; 
        align-items: center; 
    }

    #email {
        width: 80%; 
        max-width: 200px; 
    }

    .part_3 {
        margin-top: 10px; 
        gap: 10px; 
    }

    button {
        width: 80%; 
        max-width: 300px; 
        height: 40px; 
    }

    footer, header {
        height: 60px; 
    }

    .footer_style {
        justify-content: center; 
        flex-wrap: wrap; 
        text-align: center; 
    }

    a {
        font-size: medium; 
    }
}
